@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.story {
	margin: 10px 0px;
}
.story-creator {
  	font-size: 20px;
  	font-weight: 600;
}
.story-content {
	font-size: 40px;
}
.story-comments {

}
.comment-creator {
	font-weight: 600;
}

.feed-container {
	padding: 1rem 0;
}