<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <h1>Catbook</h1>
    <div id="nav-item-container">
      <!-- navbar items are inserted here -->
    </div>
    <div class="text-center" id="profile-container">
      <div class="large-profile-container">
        <div class="circle-avatar" id="profile-image">
          <!-- image inserted here -->
        </div>
      </div>
      <div id="name-container">
        <!-- name inserted here -->
      </div>
      <h4>About Me</h4>
      <div id="profile-description">I am an avid cat-lover. I have 9 different cats: Aberforth, Belinda, Carmen, Darsh, Evelyn, Francis II, Gottfried, Hamilton, and Irma.</div>
      <hr>
      <h4>My Latest Post</h4>
      <div class="card text-left">
        <div class="card-body" id="latest-post-card">
          <!-- last post inserted here -->
        </div>
      </div>
      <h4>My Favorite Type of Cat</h4>
      <h3 id="favorite-cat">Russian Blue</h3>
    </div>
  </body>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/profile.js"></script>
</html>
