<ul>
  <li></li>
</ul>
<form name="comment" method="post" action="/comment">
  <input type="text" placeholder="message" name="message">
  <input type="hidden" name="parent" value="{{_id}}">
  <button type="submit">Submit</button>
</form>
